header {
    background: url("./images/blue3.jpg") no-repeat center fixed;
    background-size: cover; 
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    font-family:  Helvetica, Arial, sans-serif;
    color: #f8f8f8;
    
}

h1{
    font-weight: 700;
}
.myheader{
    position: relative;
    height: 700px;
}
.list-soc{
    margin-bottom: 15px;
}